In [1]:
import pandas as pd 
data = pd.read_csv(r"D:\2011_Census\villages_copy.csv") 
data.head()

C:\Users\PARI\Anaconda3\envs\keras-gpu\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,6,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,State Code,District Code,District Name,Subdistt Code,Town/Village Code,Ward Code1?,Ward Code2?,Level,Name,TRU,...,Marginal Other Workers Population 0-3 Person,Marginal Other Workers Population 0-3 Male,Marginal Other Workers Population 0-3 Female,Non Working Population Person,Non Working Population Male,Non Working Population Female,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98
0,1,1,Kupwara,1.0,0.0,0.0,0,CD BLOCK,Kralpora,Urban,...,21.0,13.0,8.0,5649.0,2677.0,2972.0,NaN,NaN,NaN,NaN
1,1,1,Kupwara,1.0,1.0,0.0,0,VILLAGE,Bore,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,1,1,Kupwara,1.0,2.0,0.0,0,VILLAGE,Keran,Rural,...,0.0,0.0,0.0,2616.0,1447.0,1169.0,NaN,NaN,NaN,NaN
3,1,1,Kupwara,1.0,3.0,0.0,0,VILLAGE,Bugna,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1,1,Kupwara,1.0,4.0,0.0,0,VILLAGE,Bichwal,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [2]:
data['District Name'].unique().size

659

In [3]:
data['Name']

0                                    Kralpora
1                                        Bore
2                                       Keran
3                                       Bugna
4                                     Bichwal
                         ...
665917    Butler Bay Forest Camp 4-III (FDCA)
665918     Butler Bay Forest Camp 4-IV (FDCA)
665919            Red Oil Palm (Nursery Camp)
665920     Butler Bay Forest Camp 4-II (FDCA)
665921      Butler Bay Forest Camp 4-I (FDCA)
Name: Name, Length: 665922, dtype: object

In [4]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [5]:
fuzz.ratio("Catherine M Gitau","Catherine Gitau")
#91

94

In [6]:
fuzz.partial_ratio("Catherine M. Gitau","Catherine Gitau")
#100

80

In [7]:
fuzz.token_sort_ratio("Catherine Gitau M.", "Gitau Catherine")

94

In [9]:
import Levenshtein as lev
from fuzzywuzzy import fuzz
import csv
import codecs

dist_function = lambda x, y: (lev.ratio(x, y))
# dist_function = lambda x, y: (fuzz.partial_ratio(x, y), 80)

max = 0
bestmatch = ''
stateOfbestMatch = ''
matched = []
with codecs.open('FuzzyMatches.csv', 'w', 'utf-8') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',', quotechar='|', quoting=csv.QUOTE_MINIMAL)
    for i, j in data.iterrows(): 
        for x, y in data.iterrows(): 
            try:
                r = dist_function(j["Name"], y["Name"])
                if(r > 0.50 and r > max):
                    max = r
                    bestmatch =  y["Name"]
                    stateOfbestMatch = y["District Name"]
                    if (max != 0 & (j["Name"] not in matched)):
                        matched.append(y["Name"])
                        matched.append(j["Name"])
                        filewriter.writerow([j["Name"], bestmatch, j["District Name"], stateOfbestMatch, max, "match"])
            except:
                 print(j["Name"], y["Name"])

Kralpora nan
Bore nan
Keran nan
Bugna nan
Bichwal nan
Mindiyan nan
Patrin nan
Dard Sun Resh Gund nan
Guzriyal nan
Warsun nan
Dard Hari Khar Gund nan
Lona Hari nan
Kachi Hama nan
Meelyal nan
Farkan nan
Ration Pora nan
Dard Pora nan
Rawat Pora nan
Panzgam  nan
Gundi Zuni Reshi nan
Chowkibal nan
Budnumbal nan
Bata Pora nan
Sunti Pora nan
Aloosa nan
Slamat Wari nan
Shoolora nan
Kral Pora (CT) nan
Trehgam nan
Trehgam nan
Trehgam nan
Juma Gund  nan
Khantha Wali (Shalun Bhatta) nan
Gulgam  nan
Checki Kaliloan nan
Auwoora nan
Alchi Zab nan
Kawari nan
Zurhama nan
Marhama nan
Ladriwan nan
Hundi nan
Hayan nan
Gungloosa (Gugloosa) nan
Shum Nag  nan
Solina nan
Gofa Bal  nan
Poosh Pora nan
Qunan Baba Gund nan
Hanji Pora nan
Heri (CT) nan
Trehgam (CT) nan
Kupwara nan
Kupwara nan
Kupwara nan
Zangli Kasheera nan
Manigah nan

KeyboardInterrupt:

In [10]:
df = data.groupby('Name').groups

In [11]:
len(df)

452782

In [12]:
df = data.groupby('District Name').groups

In [13]:
len(df)

658

In [14]:
data["Name"].value_counts()

Rural                 1706
Rampur                 803
Gopalpur               591
Narayanpur             354
Mohanpur               310
                      ...
Kadmalma                 1
Jangal Shalli Teer       1
Ganganagar Pt IV         1
Koonknon Ki Dhani        1
Sonokhar                 1
Name: Name, Length: 452782, dtype: int64

In [15]:
second_most_common=data[data.Name!=data.Name.mode().item()].Name.mode().item()

In [16]:
data['lev'] = data["Name"].apply(lambda x: dist_function(str(x), second_most_common))

In [17]:
data[data.lev==data[data.lev!=1.0].lev.max()]

,State Code,District Code,District Name,Subdistt Code,Town/Village Code,Ward Code1?,Ward Code2?,Level,Name,TRU,...,Marginal Other Workers Population 0-3 Male,Marginal Other Workers Population 0-3 Female,Non Working Population Person,Non Working Population Male,Non Working Population Female,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,lev
36624,3,46,Bathinda,87.0,0.0,0.0,0,CD BLOCK,Rampura,Total,...,227.0,193.0,64260.0,23794.0,40466.0,NaN,NaN,NaN,NaN,0.923077
36625,3,46,Bathinda,87.0,0.0,0.0,0,CD BLOCK,Rampura,Rural,...,224.0,189.0,63464.0,23476.0,39988.0,NaN,NaN,NaN,NaN,0.923077
36626,3,46,Bathinda,87.0,0.0,0.0,0,CD BLOCK,Rampura,Urban,...,3.0,4.0,796.0,318.0,478.0,NaN,NaN,NaN,NaN,0.923077
57047,5,67,Udham Singh Nagar,83.0,55648.0,0.0,0,VILLAGE,Rampura,Rural,...,4.0,0.0,1058.0,427.0,631.0,NaN,NaN,NaN,NaN,0.923077
57347,5,67,Udham Singh Nagar,86.0,55936.0,0.0,0,VILLAGE,Rampura,Rural,...,0.0,3.0,780.0,305.0,475.0,NaN,NaN,NaN,NaN,0.923077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635467,29,574,Hassan,128.0,617276.0,0.0,0,VILLAGE,Rampura,Rural,...,0.0,0.0,128.0,46.0,82.0,NaN,NaN,NaN,NaN,0.923077
636750,29,577,Mysore,139.0,618526.0,0.0,0,VILLAGE,Rampura,Rural,...,3.0,2.0,320.0,154.0,166.0,NaN,NaN,NaN,NaN,0.923077
637415,29,577,Mysore,142.0,619182.0,0.0,0,VILLAGE,Rampura,Rural,...,6.0,6.0,2498.0,958.0,1540.0,NaN,NaN,NaN,NaN,0.923077
640024,29,581,Kolar,159.0,621739.0,0.0,0,VILLAGE,Rampura,Rural,...,1.0,1.0,336.0,157.0,179.0,NaN,NaN,NaN,NaN,0.923077
644582,29,584,Ramanagara,175.0,626248.0,0.0,0,VILLAGE,Rampura,Rural,...,2.0,1.0,992.0,305.0,687.0,NaN,NaN,NaN,NaN,0.923077